body {
    margin: 0;
}

hr {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 8px;
}

#xpv-viewer {
    flex: 3;
}

#root > pre {
    flex: 1;
    font-family: monospace;
    max-width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
}

pre, code {
    white-space: normal;
    overflow-wrap: break-word;
}
